@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {

    display: flex;
    justify-content: space-around;

}

ul li a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-text {


    justify-content: center;
    align-items: center;

}

.g-three {
    font-weight: 300;
}

.brand {
    font-weight: 400;
    text-align: center;

}

.brand-p {
    font-weight: 300;
    text-align: center;
    padding: 0 150px;

}

.brand-btn {
    color: white;
    background-color: #ff900e;
    border: none;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.brand-button {
    text-align: center;
}

.banner-img img {
    width: 80%;

}

.banner-img {

    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;

}

.head {
    background-color: #fff4e6;
}

/* banner section ended  */

/* feature section start  */

.tow-feature{
    display: flex;
    gap: 10px;
    margin: 50px auto;
    width: 80%;
}

.feature-img {
    min-height: 200px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.feature-img img{
    width: 200px;
    height: 200px;
}

.feature-text {
    min-height: 200px;
    margin-left: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.feature-p{
    color: #727272;
    font-size: small;
}

/* feature section end  */

/* Experience section start  */

.experience-text{
    min-height: 200px;
    width: 45%;
}
.experience-img{
    min-height: 200px;
    width: 45%;

}
.experience-tow{
    width: 80%;
    display: flex;
    gap: 40px;
    margin: 50px auto;
    min-height: 200px;
}
.box1{
    padding: 10px;
    text-align: justify;
    box-shadow: -1px 1px 7px gray,0px 0px 0px gray;
    margin-top: 5px;
    border-radius: 5px;
    height: 107px;
}

.experience-img img{

    width: 100%;
    height: 646px;
    object-fit: cover;

}
.experience-btn{
    position: absolute;
    margin-top: -42px;
    margin-left: -20px;
    padding: 27px;
    }
    
    /* some facts  */

.some-four{
    width: 80%;
    margin: 0 auto;

}    
.box{
    width: 100px;
    height: 100px;
    border: 1px solid #ff900e;
   
}
.box-parent{
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    
}
.box img{
    width: 25px;
    text-align: center;
    position: relative;
    margin-top: 16px;
    margin-left: 35px;
}
.box-number {
    font-size: 14px;
    text-align: center;
}
.box-p {
    font-size: 11px;
    text-align: center;
}

/* footer section/ */

.footer-img{
    display: flex;
    justify-content: space-between;

}
.footer-img img{
    width: 80px;
}
.last-footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-p{
   padding: 0 210px;


}
.footer-text{
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}
.footer-copy{
    
    text-align: center;
    margin-top: 75px;
    background-color: #fff4e6;
    padding: 30px;

}

    /* media  */

@media screen and (max-width:576px) {
    .brand-p {
        padding: 0;

    }

    body {
        padding: 0;
    }

    ul {
        gap: 8px;
        flex-direction: column;
    }

    .navbar {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 200px;

    }

    .head {
        align-items: center;
        justify-items: center;
        max-width: 572px;
    }

    /* banner section media quay style end  */

    /* feature section style start  */

    .tow-feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature-text{
        margin: 0;
        padding: 0;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: 100%;
    }
    .feature-img{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .feature-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* feature section end  */

    /* Experience section start  */

    .experience-img {
        min-height: 200px;
        width: 100%;
    }
    .experience-tow{
        flex-direction: column;
    }
    .experience-text {
        min-height: 200px;
        width: 100%;
    }
    .experience-btn{
        position: absolute;
        margin-top: 17px;
        margin-left: 0px;
        padding: 27px;
        width: 80%;
        }

        /* experience section end  */


        /* some  */

        .some-four{
            margin-top: 100px;
        }

        /* footer section  */

        .footer-p{
            padding: 0;

        }
        .footer-copy{
    
            text-align: center;
            margin-top: 75px;
            background-color: #fff4e6;
            padding: 10px;
            font-size: small;
        
        }
}